In [61]:
# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Visualizaciones
# -----------------------------------------------------------------------
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import tree
from tqdm import tqdm

In [62]:
# Para realizar la regresión lineal y la evaluación del modelo
# -----------------------------------------------------------------------
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor, plot_tree
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error


from sklearn.model_selection import KFold,LeaveOneOut, cross_val_score


from sklearn.preprocessing import StandardScaler

from tqdm import tqdm


# Ignorar los warnings
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings('ignore')

In [63]:
from src import soporte_ajuste as sa

In [64]:
df = pd.read_csv("datos/datos_preprocesados.csv",index_col=0)

In [65]:
df.head()

,price,size,municipality,distance,hasVideo,status,hasPlan,has3DTour,floor,hasLift,...,rooms_3,rooms_4,bathrooms_1,bathrooms_2,bathrooms_3,showAddress_False,showAddress_True,has360_False,has360_True,has360_desconocido
0,750.0,0.12,0.445948,-0.252799,0.0,0.0,0.0,0.0,0.069359,1.0,...,0.0,0.0,0.0,0.0,0.0,-1.0,1.0,0.0,0.0,0.0
1,750.0,0.52,0.038221,0.182949,1.0,0.0,1.0,0.0,-0.756628,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,715.0,0.00,0.038221,-0.020333,0.0,0.0,0.0,0.0,0.069359,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,590.0,0.52,-2.098184,2.118218,0.0,0.0,0.0,0.0,-1.114680,0.0,...,1.0,0.0,-1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,715.0,0.00,0.038221,-0.020333,0.0,0.0,0.0,0.0,0.069359,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [66]:
# Separamos la variable respuesta del resto de variables
X = df.drop(columns="price")
y = df[["price"]]

In [67]:

modelo_lineal = LinearRegression()

In [68]:
kf = KFold(n_splits=5, 
           shuffle=True, 
           random_state=42)

# RMSE
score_rmse = cross_val_score(modelo_lineal, 
                             X, 
                             y, 
                             cv=kf, 
                             scoring="neg_root_mean_squared_error")
rmse = abs(np.mean(score_rmse))

# MSE
score_mse = cross_val_score(modelo_lineal, 
                            X, 
                            y, 
                            cv=kf, 
                            scoring="neg_mean_squared_error")
mse = abs(np.mean(score_mse))

# MAE
score_mae = cross_val_score(modelo_lineal, 
                            X, 
                            y, 
                            cv=kf, 
                            scoring="neg_mean_absolute_error")
mae = abs(np.mean(score_mae))

# R^2
score_r2 = cross_val_score(modelo_lineal, 
                           X, 
                           y, 
                           cv=kf, 
                           scoring="r2")
r2 = np.mean(score_r2)

In [69]:
metricas_kfold = {'kf': {
        'r2_score': r2,
        'MAE': mae,
        'MSE': mse,
        'RMSE': rmse}
}

In [70]:
pd.DataFrame(metricas_kfold).T

    r2_score        MAE          MSE       RMSE
kf  0.407402  29.134034  1682.929357  40.863747

Es peor modelo que la regresión lineal, y aumentando los lotes lo empeoramos aún más.